examples/TCP_IoTwithBluemix/node_red_template.json
[{"id":"23593e4e.dca6c2","type":"function","z":"6f22a1ea.90dd6","name":"Confirms movement is true","func":"msg.payload.movement = msg.payload.movement.toLowerCase()\nif (msg.payload.movement === \"true\") {\n    return msg;\n}","outputs":1,"noerr":0,"x":396.5,"y":131,"wires":[["fc5e3531.03a1c8"]]},{"id":"48dfc442.b7203c","type":"http response","z":"6f22a1ea.90dd6","name":"HTTP Response Echo","x":381.5,"y":367,"wires":[]},{"id":"e162261e.1e9dd8","type":"http in","z":"6f22a1ea.90dd6","name":"HTTP Get Listener","url":"/sensor","method":"get","swaggerDoc":"","x":117.5,"y":256,"wires":[["23593e4e.dca6c2","48dfc442.b7203c","2645acd4.6bf084"]]},{"id":"fc5e3531.03a1c8","type":"template","z":"6f22a1ea.90dd6","name":"Generates Text Message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Your EVK4 has moved!","x":540.5,"y":204,"wires":[["aa3b8958.bf2ce8"]]},{"id":"aa3b8958.bf2ce8","type":"twilio out","z":"6f22a1ea.90dd6","service":"_ext_","twilio":"","from":"","number":"","name":"","x":631.5,"y":298,"wires":[]},{"id":"2645acd4.6bf084","type":"debug","z":"6f22a1ea.90dd6","name":"","active":true,"console":"false","complete":"false","x":374.5,"y":285,"wires":[]}]